/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Regular.woff2') format('woff2'), url('../fonts/Inter-Regular.woff') format('woff');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Medium.woff2') format('woff2'), url('../fonts/Inter-Medium.woff') format('woff');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-SemiBold.woff2') format('woff2'), url('../fonts/Inter-SemiBold.woff') format('woff');
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Bold.woff2') format('woff2'), url('../fonts/Inter-Bold.woff') format('woff');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

body {
  margin: auto;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0em;
  text-align: left;
  color: #DBD9D9;
  max-width: 1920px;
  background-color: #111111;
}

a {
  margin: 0;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h2, h3, h4 {
  margin: 0;
  color: #FAFAFA;
}

p {
  margin: 0;
}

main {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.content {
  padding: 0 25px;
  max-width: 1175px;
  margin: 0 auto;
  position: relative;
}

.container {
  margin: 0 0 120px 0;
}

/*-----header-----*/

.header {
  max-width: 1175px;
  padding: 28px 25px 26px;
  margin: auto;
}

.logo {
  display: block;
}

.header__logo {
  text-align: left;
}

.logo-img {
  width: 132px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
}



.title__big {
  font-weight: bold;
  font-size: 57px;
  line-height: 73px;
  letter-spacing: -1.75px;
}

.advantage {
  padding-top: 120px;
  margin-bottom: 65px;
}

.advantage__title {
  margin-bottom: 65px;
}

.advantage__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.advantage__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 264px;
  height: 400px;
  background-color: #1C1C1C;
  border-radius: 8px;
  padding: 16px;
}

.advantage__item--box {
  background-image: url(../img/box.png);
  background-repeat: no-repeat;
  background-position: 115px 75px;
  margin: 0 24px 0 0;
}

.advantage__item--camera {
  background-image: url(../img/camera.png);
  background-repeat: no-repeat;
  background-position: 83px 64px;
  margin: 0 24px 0 0;
}

.advantage__item--diamond {
  background-image: url(../img/diamond.png);
  background-repeat: no-repeat;
  background-position: 72px 105px;
  margin: 0 24px 0 0;
}

.advantage__item--car {
  background-image: url(../img/car.png);
  background-repeat: no-repeat;
  background-position: 108px 65px;
}

.advantage__uppercase {
  width: 150px;
  font-weight: 600;
  font-size: 13px;
  line-height: 17px;
  letter-spacing: -0.02em;
  color: #FAFAFA;
  margin: 0;
}

.advantage__text {
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.5px;
}

/*-----statistics-----*/

.statistics {
  background: url(../img/chart.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 2px;
  height: 600px;
  margin-bottom: 55px;
}

.statistics__contant {
  padding: 20px 0px 0px 0;
}

.test {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.test1 {
  margin-right: auto;
}

.statistics__title {
  max-width: 700px;
  margin-bottom: 40px;
}

.statistics__subtitle {
  max-width: 450px;
  font-weight: 500;
  font-size: 23px;
  line-height: 32px;
  letter-spacing: -0.5px;
  color: #FAFAFA;
}

.ellipse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 360px;
  height: 360px;
  background-color: #50CE61;
  color: #FFFFFF;
  border-radius: 360px;
}

.percent {
  display: block;
  font-weight: 600;
  font-size: 106px;
  line-height: 70%;
  letter-spacing: -0.04em;
  margin-top: 53px;
}

.ellipse__uppercase {
  width: 130px;
  font-weight: 600;
  font-size: 13px;
  line-height: 17px;
  letter-spacing: -0.02em;
  color: #FAFAFA;
  margin: 0;
}

.statistics__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 115px;
}

.statistics__item {
  margin-top: auto;
  width: 192px;
  padding-left: 20px;
}

.statistics__uppercase {
  width: 125px;
  font-weight: 600;
  font-size: 13px;
  line-height: 17px;
  letter-spacing: -0.02em;
  color: #FAFAFA;
  margin: 0;
}

.green {
  color: #50CE61;
}

/*------seller------*/

.seller {
  background-image: url(../img/heart.png);
  background-repeat: no-repeat;
  background-position: 790px -10px;
  margin-bottom: 127px;
}

.seller__title {
  margin-bottom: 35px;
}

.seller__subtitle {
  max-width: 745px;
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: -1px;
  margin-bottom: 32px;
}



.seller__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 35px;
}

.seller__item {
  width: 168px;
  border: 1px solid #323131;
  padding: 64px 11px 12px 12px;
}

.seller__item--star {
  background-image: url(../img/icon/star.svg);
  background-repeat: no-repeat;
  background-position: 12px 22px;
}

.seller__item--camera {
  background-image: url(../img/icon/camera.svg);
  background-repeat: no-repeat;
  background-position: 10px 22px;
}

.seller__item--bookmarks {
  background-image: url(../img/icon/bookmarks.svg);
  background-repeat: no-repeat;
  background-position: 10px 22px;
}

.seller__item--delivery {
  background-image: url(../img/icon/delivery.svg);
  background-repeat: no-repeat;
  background-position: 9px 22px;
}

.seller__item--box {
  background-image: url(../img/icon/box.svg);
  background-repeat: no-repeat;
  background-position: 8px 22px;
}

.seller__text {
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.5px;
  color: #FAFAFA;
  opacity: 0.9;
  margin-bottom: 11px;
}

.seller__number {
  font-weight: normal;
  font-size: 12px;
  line-height: 17px;
  letter-spacing: -0.25px;
  color: #646363;
}

.btn {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  border-radius: 0;
}

.btn__seller {
  color: #FAFAFA;
  background-color: #DE2323;
  border: 1px solid transparent;
  border-radius: 6px;
  padding: 16px 32px;
}

.btn__seller:hover {
  -webkit-box-shadow: 0px 0px 10px #FAFAFA;
  box-shadow: 0px 0px 10px #FAFAFA;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.btn__seller:focus {
  outline: 1px solid #FAFAFA;
}

.seller__button {
  margin-right: 10px;
}

.seller__link {
  color: #FAFAFA;
  border: 1px solid transparent;
  border-radius: 6px;
  padding: 16px 32px;
}

.seller__link:hover {
  border: 1px solid #FAFAFA;
}

.seller__link:focus {
  outline: 1px solid #FAFAFA;
}

/*-----faq-----*/

.faq__title {
  font-size: 57px;
  line-height: 73px;
  letter-spacing: -1.75px;
  margin-bottom: 43px;
}

.faq__item {
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.faq__item:hover {
  border-top: 1px solid #ff9900;
  border-bottom: 1px solid #ff9900;
}

.faq__item:focus-within {
  border-top: 1px solid #ff9900;
  border-bottom: 1px solid #ff9900;
}

.btn--faq {
  padding-top: 24px;
  padding-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  outline: none;
}

.btn--faq::after {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background-image: url(../img/icon/add.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.ui-accordion-header::after {
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  -o-transition: transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.ui-state-hover,
.ui-state-focus {
  color: #ff9900;
}

.ui-accordion-header-active::after {
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  -o-transition: transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.ui-accordion-title {
  font-weight: 500;
  font-size: 23px;
  line-height: 32px;
  letter-spacing: -0.5px;
  color: #FFFFFF;
  text-align: left;
}

.ui-accordion-content, .ui-accordion-content-active {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.5px;
  opacity: 0.8;
  padding-bottom: 24px;
}

/*-----footer-----*/

.footer {
  border-top: 1px solid #323131;
  text-align: center;
  padding: 30px 20px;
  max-width: 1175px;
  margin: 0 auto;
}

.footer__logo {
  margin-bottom: 32px;
}

.footer__nav {
  margin-bottom: 44px;
}

.nav {}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.nav__item {}

.nav__item:not(:last-child) {
  margin-right: 24px;
}

.nav__link {
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.5px;
  color: #FAFAFA;
}

.nav__link:hover, .nav__link:focus {
  outline: 2px solid #DE2323;
  outline-offset: 10px;
}

.footer__subtitle {
  max-width: 578px;
  font-weight: 500;
  font-size: 23px;
  line-height: 32px;
  letter-spacing: -0.5px;
  text-align: center;
  color: #FAFAFA;
  margin: 0px auto 56px auto;
}

.folow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.folow__item {
  font-weight: 600;
  font-size: 13px;
  letter-spacing: -0.02em;
  color: #FAFAFA;
}

.link-bot {}

.link-bot:hover, .link-bot:focus {
  color: #DE2323;
  outline: none;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.link-instagram {
  text-decoration: underline;
}

.link-instagram:hover, .link-instagram:focus {
  color: #DE2323;
  outline: none;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}



.folow__item--copirate {
  font-weight: normal;
  font-size: 12px;
  letter-spacing: -0.25px;
  color: #ADACAC;
  opacity: 0.5;
}

@media (max-width: 1279px) {
  .header {
    padding: 28px 32px 26px;
  }

  .content {
    padding: 0 32px;
  }

  .advantage {
    padding-top: 95px;
    margin-bottom: 80px;
  }

  .advantage__title {
    max-width: 700px;
    margin-bottom: 48px;
  }

  .title__big {
    font-size: 50px;
    line-height: 55px;
  }

  .advantage__list {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .advantage__item {
    max-width: 49%;
    height: 260px;
    padding: 16px 16px 24px;
  }

  .advantage__item--box {
    background-position: 92% 25px;
    margin: 0 17px 24px 0;
  }

  .advantage__item--camera {
    background-position: 93% 20px;
    margin: 0 0 0 0;
  }

  .advantage__item--diamond {
    background-position: 92% 23px;
    margin: 0 17px 0 0;
  }

  .advantage__item--car {
    background-position: 95% 15px;
    margin: 0 0 0 0;
  }

  .statistics {
    margin-bottom: 80px;
  }

  .test {
    margin: 0 0 75px;
  }

  .statistics__title {
    max-width: 555px;
    margin-bottom: 30px;
  }

  .ellipse {
    width: 280px;
    height: 280px;
  }

  .percent {
    font-size: 83px;
    margin-top: 0;
    line-height: 90%;
  }

  .seller {
    background-size: 315px;
    background-position: 685px -5px;
    margin-bottom: 115px;
  }

  .seller__title {
    margin-bottom: 30px;
  }



  .seller__subtitle {
    max-width: 490px;
    font-size: 23px;
    line-height: 32px;
    letter-spacing: -0.5px;
  }

  .faq__title {
    max-width: 520px;
    font-size: 57px;
    line-height: 73px;
    letter-spacing: -1.75px;
  }

  .subtitle {
    text-align: left;
  }

  .footer {
    padding: 40px 60px;
  }

  .footer__logo {
    margin-bottom: 25px;
  }

  .folow {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer__subtitle {
    text-align: center;
    margin: 0px auto 48px auto;
  }

  .folow__item--bot {
    margin: 0 0 15px 0;
  }

  .folow__item--inst {
    margin: 0 0 60px 0;
  }

  .folow__item--copirate {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
}

@media (max-width: 959px) {
  .content {
    padding: 0 24px;
  }

  .advantage {
    padding-top: 90px;
    margin-bottom: 17px;
  }

  .advantage__title {
    margin-bottom: 37px;
  }

  .advantage__item {
    max-width: 48.5%;
    height: 305px;
  }

  .advantage__item--box {
    background-position: 89% 25px;
    margin: 0 16px 16px 0;
  }

  .advantage__item--camera {
    background-position: 89% 24px;
    margin: 0 0 0 0;
  }

  .advantage__item--diamond {
    background-position: 89% 25px;
    margin: 0 16px 0 0;
  }

  .advantage__item--car {
    background-position: 92% 18px;
    margin: 0 0 0 0;
  }

  .test {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0;
  }

  .test1 {
    margin: -14px auto 0 0;
  }

  .ellipse {
    width: 502px;
    height: 502px;
    margin: 0 auto;
  }

  .ellipse__uppercase {
    width: 250px;
    font-weight: 600;
    font-size: 19.5px;
    line-height: 130%;
    letter-spacing: -0.02em;
    text-align: center;
  }

  .percent {
    font-size: 124.5px;
    line-height: 90%;
    letter-spacing: -0.04em;
    margin-top: 15px;
  }

  .statistics {
    height: auto;
    margin-bottom: 60px
  }

  .statistics__contant {
    padding: 0;
  }

  .statistics__list {
    display: none;
  }

  .seller {
    background-image: none;
    margin-bottom: 70px;
  }

  .seller__title {
    max-width: 300px;
  }

  .seller__list {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 35px;
  }

  .seller__item {
    width: 50%;
    padding: 64px 11px 8px 12px;
  }

  .seller__text {
    max-width: 140px;
  }

  .seller__button {
    margin: 0 0 15px 0;
  }

  .btn__seller {
    width: 100%;
  }

  .seller__link {
    display: block;
    width: 100%;
    text-align: center;
  }

  .faq__title {
    font-size: 50px;
    line-height: 55px;
    letter-spacing: -1.5px;
  }

  .ui-accordion-content, .ui-accordion-content-active {
    padding-bottom: 20px;
  }

  .footer {
    padding-top: 30px;
  }

  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer__logo {
    margin-bottom: 40px;
  }

  .nav__item:not(:last-child) {
    margin: 0 0 25px;
  }
}



@media (max-width: 639px) {
  .content {
    padding: 0 16px;
  }

  .header {
    padding: 24px 16px 24px;
  }

  .advantage {
    padding-top: 94px;
    margin-bottom: 56px;
  }

  .advantage__title {
    margin-bottom: 30px;
    max-width: 280px;
  }

  .title__big {
    font-size: 25px;
    line-height: 33px;
    letter-spacing: -1px;
  }

  .advantage__item {
    max-width: 100%;
  }


  .advantage__item--box {
    background-position: 88% 25px;
    margin: 0 0 17px 0;
  }

  .advantage__item--camera {
    background-position: 90% 20px;
    margin: 0 0 17px 0;
  }

  .advantage__item--diamond {
    background-position: 90% 25px;
    margin: 0 0 17px 0;
  }

  .advantage__item--car {
    background-position: 90% 20px;
    margin: 0 0 0 0;
  }

  .statistics {
    margin-bottom: 73px;
  }

  .test1 {
    margin: 0 auto 0 0;
  }

  .ellipse {
    width: 320px;
    height: 320px;
    margin: 0 0 27px;
  }

  .percent {
    font-size: 88px;
    margin-top: 55px;
  }

  .statistics__title {
    margin-bottom: 23px;
  }

  .statistics__subtitle {
    max-width: 260px;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: -0.5px;
  }

  .seller {
    margin-bottom: 80px;
  }

  .seller__title {
    max-width: 200px;
    margin-bottom: 23px;
  }

  .seller__subtitle {
    font-size: 15px;
    line-height: 24px;
    letter-spacing: -0.5px;
    margin-bottom: 24px;
  }

  .seller__list {
    margin-bottom: 25px;
  }

  .seller__item {
    padding: 64px 11px 10px 12px;
  }

  .seller__text {
    font-size: 12px;
    line-height: 17px;
    letter-spacing: -0.25px;
    margin-bottom: 9px;
  }

  .faq__title {
    font-size: 25px;
    line-height: 33px;
    letter-spacing: -1px;
    margin-bottom: 30px;
  }

  .ui-accordion-title {
    margin-right: 40px;
  }

  .ui-accordion-content, .ui-accordion-content-active {
    padding-bottom: 24px;
  }

  .footer {
    padding: 30px 41px 24px;
  }

  .footer__subtitle {
    line-height: 20px;
    font-size: 15px;
    letter-spacing: -0.5px;
  }

  .folow__item--bot {
    margin: 0 0 17px 0;
  }

  .folow__item--inst {
    margin-bottom: 50px;
  }


}
